name: Run checks

on:
  push:
  schedule:
    - cron: '0 9 * * 1,4'

env:
  PYTHON_VERSION: &PYTHON_VERSION '3.14'

jobs:
  flake8-lint:
    runs-on: ubuntu-latest
    name: Flake8 Lint
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Project
        uses: ./.github/actions/setup_project
        with:
          python-version: *PYTHON_VERSION

      - name: flake8 Lint
        uses: py-actions/flake8@v2
        with:
          max-line-length: "121"
          exclude: "__init__.py,*_uic.py"

  check-tests:
    runs-on: ubuntu-latest
    name: Run tests
    strategy:
      matrix:
        python-version: [ '3.14' ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Project
        uses: ./.github/actions/setup_project
        with:
          python-version: '${{ matrix.python-version }}'
      - name: Setup Linux
        uses: ./.github/actions/setup_linux

      - name: Discover and run tests
        run: xvfb-run python -m unittest discover -p *_test.py

  measure-coverage:
    runs-on: ubuntu-latest
    name: Measure coverage
    needs: check-tests
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Project
        uses: ./.github/actions/setup_project
        with:
          python-version: *PYTHON_VERSION
      - name: Setup Linux
        uses: ./.github/actions/setup_linux

      - name: Test and gather coverage data
        run: coverage xvfb-run run -m unittest discover -p *_test.py
      - name: Upload coverage data
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
